extends layout.pug

append scripts
    script.
        let socket = io();

block content
    div(class="card" style="margin-top: 20px")
        div(class="card-header text-center") Clients
        div(class="card-body")
                div(class="table-responsive")
                    table(class="table")
                        thead
                            tr
                            th='Database ID'
                            th='Nickname'
                            th='Kick'
                        tbody